# === PROJECT DATA & MODELS ===
data/
*.zip
dataset-resized/
*.pt
videos/

# === PYTHON CACHE ===
src/__pycache__/
*.pyc
*.pyo
*.pyd

# === JUPYTER NOTEBOOK FILES ===
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# === WINDOWS / ONE DRIVE TRASH FILES ===
Thumbs.db
desktop.ini

# === EDITOR BACKUP FILES ===
*.swp
*.swo

# === ENVIRONMENTS ===
.env
.env.*
.venv/
venv/
environment.yml

# === MISCELANIOUS SCRIPTS  ===
convert_xml_to_yolo.py
train_yolo_2.py