# Ignore dataset and model folders and test video folders
data/
models/
videos/

# Ignore large ML files
*.npy
*.npz
*.h5
*.hdf5
*.pth
*.pt
*.pkl

# Ignore Python cache
__pycache__/

# Ignore Jupyter temporary folders
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore environment files
.env
environment.yml
