# === PROJECT DATA & MODELS ===
data/
videos/
models/
*.pt
*.zip
dataset-resized/

# === PYTHON CACHE ===
src/__pycache__/
*.pyc
*.pyo
*.pyd

# === JUPYTER NOTEBOOK FILES ===
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# === WINDOWS / ONE DRIVE TRASH FILES ===
Thumbs.db
desktop.ini

# === EDITOR BACKUP FILES ===
*.swp
*.swo

# === ENVIRONMENTS ===
.env
.env.*
.venv/
venv/
environment.yml
